* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

.product {
  &-list {
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;

    .MuiCard-root {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h2 {
      height: 62px;
      overflow: hidden;
      text-overflow: clip;
    }

    p {
      overflow: hidden;
      text-overflow: clip;
      max-height: 40px;
    }
  }
  max-width: 345px;

  &__img {
    height: 140px;
  }
}

.details-product {
  max-width: 700px;
  margin: 0 auto;
  &__main {
    display: flex;
  }
  &__image-box {
    padding-right: 20px;
    img {
      display: block;
      max-width: 400px;
    }
  }
}
